#homepage {
    background-image: url('../../assets/homepage.png');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleHomepage {
    margin-top: 1rem;
}

.h2Homepage {
    font-family: 'Days One';
    font-size: 4rem;
    font-weight: 400;
    color: #FFFF;
}

.h1Homepage {
    font-family: 'Days One';
    font-size: 6rem;
    font-weight: 400;
    color: #F7317D;
    margin-top: -1.5rem;
}

.pHomepage {
    font-family: 'Roboto';
    color: white;
    font-size: 1.5rem;
    width: 50%;
    font-weight: 300;
    letter-spacing: 4px;
    padding: 1rem 0;
}

.link {
  display: flex;
  text-decoration: none;
}

/* Button Style*/
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: #F7317D;
}

.glowing-btn {
  margin-top: 2rem;  

  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}


.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  #homepage {
      height: 70vh;
      background-position: center center;
      background-size: cover;
    
  }

  .titleHomepage {
      margin-top: 4rem;
  }

  .h2Homepage {
      font-size: 3rem;
  }

  .h1Homepage {
      font-size: 5rem;
  }

  .pHomepage {
      font-size: 1.2rem;
      width: 70%;
  }

  .glowing-btn {
      font-size: 1.5em;
      padding: 0.3em 0.8em;
      margin-top: 1.5rem;
  }
}
@media (max-width: 768px) {
  #homepage {
      height: 60vh;
      background-position: center center;
      background-size: cover;
  }

  .titleHomepage {
      margin-top: 3rem;
  }

  .h2Homepage {
      font-size: 2.5rem;
  }

  .h1Homepage {
      font-size: 4rem;
  }

  .pHomepage {
      font-size: 1rem;
      width: 80%;
  }

  .glowing-btn {
      font-size: 1.2em;
      padding: 0.25em 0.6em;
      margin-top: 1.5rem;
  }
}
@media (max-width: 600px) {
  #homepage {
      height: 50vh;
      background-position: center center;
      background-size: contain;
  }

  .titleHomepage {
      margin-top: 2rem;
  }

  .h2Homepage {
      font-size: 2rem;
  }

  .h1Homepage {
      font-size: 3rem;
  }

  .pHomepage {
      font-size: 0.9rem;
      width: 90%;
      text-align: justify;
      letter-spacing: 1px;
  }

  .glowing-btn {
      font-size: 1em;
      padding: 0.2em 0.5em;
              margin-top: -0rem;
  }
}
@media (max-width: 375px) {
  #homepage {
      height: 50vh;
      background-position: center center;
      background-size: contain;
  }

  .titleHomepage {
      margin-top: 2rem;
  }

  .h2Homepage {
      font-size: 1.8rem;
  }

  .h1Homepage {
      font-size: 2.5rem;
      padding: 1vh;
  }

  .pHomepage {
      font-size: 0.85rem;
      width: 90%;
      text-align: justify;
      letter-spacing: 0.8px;
  }

  .glowing-btn {
      font-size: 0.9em;
      padding: 0.2em 0.4em;
      margin-top: 1rem;
      margin-top: -0rem;
  }
}
