/* Reset de estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2D2D2F;
    color: white;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-family: 'Roboto';
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
    color: white;
    font-size: 1.4rem;
}

.input-group {
    display: flex;
    gap: 10px;
}

.input-group label {
    flex: 1;
}

.input-group input,
.input-group select,
.input-group textarea {
    flex: 2;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #6B6B6D;
    border-radius: 4px;
    background-color: #4C4C4E;
    color: white;
}

textarea {
    resize: vertical;
}

input[type=file] {
    margin-top: 10px;
}

button[type=submit] {
    background-color: #F7317D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type=submit]:hover {
    background-color: #D4266C;
}

/* Estilo para o checkbox */
input[type=checkbox] {
    margin-right: 10px;
}

/* Ajustes específicos */
.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
}

/* Estilo para o termos e condições */
#termos-container {
    display: flex;
    align-items: center;
}

/* Ajuste de estilo para os headers dentro dos input-group */
.input-group h2 {
    margin: 0;
    padding: 0 0 5px;
    color: #ccc;
    font-size: 0.8em;
    text-transform: uppercase;
}